*.svn
*.svn-base
﻿/bin/
/gen/
/nbandroid/
/lib/wheel/gen/
/lib/wheel/bin/
*.bak
.DS_Store
/lib/wheel/nbandroid/
/lib/wheel/local.properties
/nbandroid/
local.properties
/private
/bin/
/wheel/target/
/Decider/target/
/wheel/gen/
