/out/
/bin/
/gen/
/nbandroid/
/lib/wheel/gen/
/lib/wheel/bin/
/lib/actionbarsherlock/bin/
/lib/actionbaraherlock/gen/
*.bak
.DS_Store
/lib/wheel/nbandroid/
/lib/wheel/local.properties
local.properties
/private
/bin/
lib/actionbarsherlock/gen/com/actionbarsherlock/R.java
lib/actionbarsherlock/gen/com/actionbarsherlock/BuildConfig.java
lib/actionbarsherlock/gen/R.java.d
/.idea/
